<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <h1>Welcome to Flask Notes</h1>
  <ul>
    {% for note in notes %}
      <li>
        {{ note.title }}
        <br>
        {{ note.content }}
        <br>
        {{ note.id }}
      </li>
      {% else %}
      Not notes yet
    {% endfor %}
  </ul>

  <a href="{{ url_for('create_note') }}">Create a new note</a>
</body>
</html>